.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #bdbdbd;
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar.sm {
    width: 24px;
    height: 24px;
    font-size: 10px;
}

.avatar.md {
    width: 40px;
    height: 40px;
    font-size: 16px;
}

.avatar.lg {
    width: 64px;
    height: 64px;
    font-size: 24px;
}